<form action="/cart" method="post" class="details">
    <button class="btn" type="submit"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>
