.form-control {
  margin: 1rem 0;
}

.form-control placeholder{
  font-family: 'Open Sans', sans-serif;

}

.form-control input {
  outline: none;
    display: block;
    width: 100%;
    border: 1px solid darken($white, 15%);
    margin: 0 0 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    @include transition(.3s ease);
    &:focus {
      border: 1px solid $accent;
      color: $dark-gray;
    }

}
.login-form button{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.login-title{
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 20px;
}
